@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

:root {
  --fc-button-bg-color: #615dfa;
  --fc-button-bg-color: #615dfa;
  --fc-button-border-color: #615dfa;
  --fc-button-hover-bg-color: #8b88ff;
  --fc-button-hover-border-color: #615dfa;
  --fc-button-active-bg-color: #615dfa;
  --fc-button-active-border-color: #615dfa;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Rajdhani", "Times New Roman", Times, serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
